li {
    background-color: #FFFBDA;
    padding: 20px;
    margin-bottom: 12px;
    border-radius: 12px;
}

li h3 {
    color: #ED9455;
    margin-bottom: 8px;;
}

li p {
    margin-bottom: 16px;
    background-color: white;
    padding: 8px;
    border-radius: 4px;
    padding-bottom: 16px;
}

li button {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(182, 19, 19);
    color: white;
    padding: 8px;
    border-radius: 10px;
}

li div {
    display: flex;
    align-items: center;
}

li div label {
    margin-right: 10px;;
}

.task-footer {
    display: flex;
    justify-content: space-between;
}