.task-form {
    background-color: #FFFBDA;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 12px;
}

.task-form div {
    display: flex;
    align-items: center;
}

.task-form input {
    padding: 8px;
    border-radius: 10px;
    border-bottom: 2px solid #ED9455;
    margin-left: 14px;
    width: 300px;
}

.task-form form {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.task-form button {
    background-color: #ED9455;
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.task-form button:hover {
    background-color: #f0a56e;
}